{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>{{title}}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="table-light">ID</th>
            <th class="table-light">{% translate "User name"%}</th>
            <th class="table-light">{% translate "Full name"%}</th>
            <th class="table-light">{% translate "Creation date"%}</th> 
        </tr>
    </thead>
    {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.first_name}} {{user.last_name}}</td>
            <td>{{user.date_joined}}</td>
        </tr>
    {% endfor %}
 </table>


{% endblock %}