{% load i18n %}

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" style="color:black" class="d-inline-flex link-body-emphasis text-decoration-none">
          <h1>Task Manager</h1>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">{% translate "Home" %}</a></li>
        <li><a href="{% url 'users' %}" class="nav-link px-2">{% translate "Users" %}</a></li>
        <li><a href="{% url 'about' %}" class="nav-link px-2">{% translate "About" %}</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="{%url 'login'%}" class="btn btn-outline-primary me-2">{% translate "Sign-in" %}</a>
        <a href="{%url 'register'%}" class="btn btn-primary">{% translate "Sign-up" %}</a>
      </div>
    </header>
  </div>